* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #444;
    color: white;
}

.box {
    width: 100%;
}

.heder {
    text-align: center;
}

.heder * {
    padding: 20px 0;
}

table {
    width: 1200px;
    margin: 0 auto;
}

td img {
    width: 50px;
}

td {
    padding: 45px 100px;
    text-align: center;
}