* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../slike/bg.jpg) no-repeat center;
    background-size: contain;
    background-color: #000;
    height: 100%;
    font-size: 100%;
}

.navbar {
    width: 100%;
    height: 8%;
    background-color: #3d3d3d;
}

.logo img {
    height: 3%;
    width: 3%;
    margin-left: 2%;
}

.spacer {
    height: 100px;
}

#page1 {
    width: 100%;
    height: 100%;
    background: url(../slike/naslov.jpg) no-repeat center;
    background-size: 100%;
    border: 2px solid black;
}

#page2 {
    width: 100%;
    height: 100%;
    background: url(../slike/slika2.jpg) no-repeat center;
    background-size: 100%;
    border: 2px solid black;
}

#page3 {
    width: 100%;
    height: 100%;
    background: url(../slike/gameplay1.jpg) no-repeat center;
    background-size: 100%;
    border: 2px solid black;
}

#page4 {
    width: 100%;
    height: 100%;
    background: url(../slike/trailer.jpg) no-repeat center;
    background-size: 100%;
    border: 2px solid black;
}

#page5 {
    width: 100%;
    height: 100%;
    background-size: 100%;
    border: 2px solid black;
}

.fream {
    margin: 8% 2%;
    display: inline-block;
}

.fream2 {
    float: right;
    margin: 8% 2%;
}

#gameplaytext,
#gameplaytext2 {
    background-color: rgba(100, 100, 100, 0.6);
    color: #f2f2f2;
    width: 20%;
    height: 100%;
    font-size: 150%;
    display: inline-block;
    text-align: center;
}

.min {
    width: 30%;
    display: inline-block;
    margin-top: 10%;
}

.tabela {
    border-collapse: collapse;
    background-color: rgba(100, 100, 100, 0.6);
}

.recommended {
    float: right;
    margin-top: 10%;
}

.tabela td,
th {
    padding: 10px;
    border: 1px dashed gray;
    color: #f2f2f2;
}

#gameplaytext2 {
    float: right;
    width: 30%;
    text-align: center;
}


/*slider css*/

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}