* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    height: 650px;
    width: 900px;
    margin: 50px auto;
    background-color: #44b3c2;
    border-radius: 50px;
}

#slika {
    text-align: center;
    height: 40%;
    box-sizing: border-box;
}

#slika img {
    height: auto;
    width: 206px;
    border-radius: 50%;
    padding-top: 15px;
}

#text {
    text-align: center;
    color: #fff;
    height: 40%;
}

#h1 {
    font-size: 3.5em;
}

#h3 {
    font-size: 2em;
}

#footer {
    height: 20%;
    box-sizing: border-box;
}

#left {
    float: left;
    width: 49%;
    border-right: 1px solid #fff;
    height: 100%;
}

#right {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

.btn {
    height: 50px;
    width: 315px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
    border: none;
    color: #fff;
    font-size: 1.8em;
}

#folio {
    background-color: rgba(228, 86, 65, 0.6);
}

#hire {
    background-color: rgba(241, 169, 78, 1);
}

#follow {
    color: #fff;
    font-size: 1.5em;
}

#right img {
    margin: 10px 10px;
}